<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :linkedin_count %>
    <%= form.number_field :linkedin_count, id: :user_linkedin_count %>
  </div>

  <div class="field">
    <%= form.label :facebook_count %>
    <%= form.number_field :facebook_count, id: :user_facebook_count %>
  </div>

  <div class="field">
    <%= form.label :twitter_count %>
    <%= form.number_field :twitter_count, id: :user_twitter_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
