<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= form_tag(users_path, :method => "get") do %>
  <%= text_field_tag :search_by, params[:search_by], placeholder: "Search Users" %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Name', users_path(:search_by => params[:search_by], :order_by => "name", :order_direction => params[:order_direction] == "asc" ? "desc" : "asc")%></th>
      <th><%= link_to 'LinkedIn', users_path(:search_by => params[:search_by], :order_by => "linkedin_count", :order_direction => params[:order_direction] == "asc" ? "desc" : "asc")%></th>
      <th><%= link_to 'Facebook', users_path(:search_by => params[:search_by], :order_by => "facebook_count", :order_direction => params[:order_direction] == "asc" ? "desc" : "asc")%></th>
      <th><%= link_to 'Twitter', users_path(:search_by => params[:search_by], :order_by => "twitter_count", :order_direction => params[:order_direction] == "asc" ? "desc" : "asc")%></th>
      <th><%= link_to 'Social Connection Index', users_path(:search_by => params[:search_by], :order_by => "connection_score", :order_direction => params[:order_direction] == "asc" ? "desc" : "asc")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.linkedin_count %></td>
        <td><%= user.facebook_count %></td>
        <td><%= user.twitter_count %></td>
        <td><%= user.connection_score %></td>
        <td><%#= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>

<br>

<%= link_to 'New User', new_user_path %>
