<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Linkedin count:</strong>
  <%= @user.linkedin_count %>
</p>

<p>
  <strong>Facebook count:</strong>
  <%= @user.facebook_count %>
</p>

<p>
  <strong>Twitter count:</strong>
  <%= @user.twitter_count %>
</p>

<p>
  <strong>Connection score:</strong>
  <%= @user.connection_score %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Users', users_path %>
